*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica;
  /* width: 100%;
  height: 100%;
  overflow: hidden; */
}

h1 {
  /*font-family: 'Monoton', 'cursive';*/
  font-family: 'Helvetica';
  font-size: 211px;
  color: white
}
h2 {

}

section {
  background: orangered;
  border: 1.3px solid darkred;
  /* position: absolute;
  top: 0;
  width: 80%;
  border: 1px solid red;
  padding: 20px;
  overflow: auto;
  transition: .5s ease-in-out all; */
}
/* section.page-1 {
  left: 0;
  z-index:99;
}
section.page-2 {
  left: 5%;
  z-index:98;
} */
            img {
                max-width:40%;
                        height:auto;
            }

            video {
                max-width:50%;
                        height:auto;
            }
